.title1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.text1{
    color: white;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
}
.text2{
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
}
.navTable{
    color: white;
}
.table1{
    color: white;
}
.table2{
    color: white;
    font-variant: normal;
}